<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de commande</title>
</head>
<body>
    <h1>Confirmation de commande</h1>
    <p>Merci d'avoir passé votre commande. Voici les détails de votre commande :</p>
    <table>
        <tr>
            <th>Description</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Total</th>
        </tr>
        {% for item in order.orderitem_set.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.get_total }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Le total de votre commande est : <strong>{{ order.get_cart_total }}</strong></p>
    <p>Merci de votre commande !</p>
</body>
</html>
