{% extends 'partials/base_2.html' %}
{% load static %}

{% block title %}
  Services Keneyaton - Contact
{% endblock  %}

{% block header %}
   <!-- Page Header Start -->
   <div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Contactez-Nous</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="{% url 'contact' %}">Accueil</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Contact</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
{% endblock  %}

{% block content %}
     <!-- Contact Start -->
     <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">En quoi nous pouvons vous aider</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                   {% include 'partials/alert.html' %}
                    <div id="success"></div>
                    <form method="post" name="sentMessage" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="control-group">
                            <input name="full_name" type="text" class="form-control" id="name" placeholder="Votre Nom complet"
                                required="required" data-validation-required-message="Que souhaitez vous dire ?" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input name="email" type="email" class="form-control" id="email" placeholder="Votre Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input name="subject" type="text" class="form-control" id="subject" placeholder="Sujet"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea name="message" class="form-control" rows="6" id="message" placeholder="Message"
                                required="required"
                                data-validation-required-message="Ecrivez votre message ici"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Envoyer
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Localisation</h5>
                <p>Vous pouvez nous trouver au cœur de Lafiabougou, prêts à vous servir avec expertise et dévouement. 
                    Notre équipe est disponible pour répondre à vos questions, vous conseiller sur le matériel médical approprié 
                    et vous offrir le meilleur service possible. Chez Services Keneyaton, nous sommes déterminés à rendre votre vie 
                    plus confortable et votre santé plus précieuse.</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Service Keneyaton</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i> Lafiabougou. Bamako - Mali</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>contact@services-keneyaton.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+223 73 60 10 75/63 60 10 75</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock  %}